<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 	mybatis 설정 담당 -->
<!-- SQL문 정의할 때 VO표현을 간단하게 하고 싶은 경우. 
     별명을 지어서 사용 -->
   <typeAliases>
      <typeAlias type="com.multi.gazee.member.MemberVO" alias="memberVO"></typeAlias>
		<typeAlias type="com.multi.gazee.order.OrderVO" alias="OrderVO"></typeAlias>
		<typeAlias type="com.multi.gazee.product.ProductVO" alias="ProductVO"></typeAlias>
		<typeAlias type="com.multi.gazee.productImage.ProductImageVO" alias="ProductImageVO"></typeAlias>
		<typeAlias type="com.multi.gazee.productLikes.ProductLikesVO" alias="ProductLikesVO"></typeAlias>
		<typeAlias type="com.multi.gazee.seed.SeedUsedHistoryVO" alias="SeedUsedHistoryVO"></typeAlias>
   </typeAliases>
   <mappers>
   <!-- SQL문 정의하는 파일들의 목록을 지정. -->
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/orderMapper.xml" />
		<mapper resource="mapper/productMapper.xml" />
		<mapper resource="mapper/productImageMapper.xml" />
		<mapper resource="mapper/productLikesMapper.xml" />
		<mapper resource="mapper/seedMapper.xml" />
   </mappers>
</configuration>
