<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

   <typeAliases>
   		<typeAlias type="com.multi.gazee.charge.ChargeVO" alias="chargeVO"></typeAlias>
   		<typeAlias type="com.multi.gazee.chat.ChatVO" alias="chatVO"></typeAlias>
   		<typeAlias type="com.multi.gazee.customerService.CustomerServiceVO" alias="customerServiceVO"></typeAlias>
   		<typeAlias type="com.multi.gazee.customerServiceImg.CustomerServiceImgVO" alias="customerServiceImgVO"></typeAlias>
   		<typeAlias type="com.multi.gazee.faq.FaqVO" alias="faqVO"></typeAlias>
   		<typeAlias type="com.multi.gazee.member.MemberVO" alias="memberVO"></typeAlias>
   		<typeAlias type="com.multi.gazee.order.OrderVO" alias="orderVO"></typeAlias>
   		<typeAlias type="com.multi.gazee.product.ProductVO" alias="productVO"></typeAlias>
		<typeAlias type="com.multi.gazee.productImage.ProductImageVO" alias="productImageVO"></typeAlias>
		<typeAlias type="com.multi.gazee.productLikes.ProductLikesVO" alias="productLikesVO"></typeAlias>
   		<typeAlias type="com.multi.gazee.recentlyViewed.RecentlyViewedVO" alias="recentlyViewedVO"></typeAlias>
   		<typeAlias type="com.multi.gazee.report.ReportVO" alias="reportVO"></typeAlias>
   		<typeAlias type="com.multi.gazee.reportCount.ReportCountVO" alias="reportCountVO"></typeAlias>
   		<typeAlias type="com.multi.gazee.reportImg.ReportImgVO" alias="reportImgVO"></typeAlias>
   		<typeAlias type="com.multi.gazee.set.SetVO" alias="setVO"></typeAlias>
   		<typeAlias type="com.multi.gazee.transactionHistory.TransactionHistoryVO" alias="historyVO"></typeAlias>
		<typeAlias type="com.multi.gazee.withdraw.WithdrawVO" alias="withdrawVO"></typeAlias>
   </typeAliases>
   <mappers>
   		<mapper resource="mapper/chargeMapper.xml" />
   		<mapper resource="mapper/chatMapper.xml" />
   		<mapper resource="mapper/customerServiceMapper.xml" />
   		<mapper resource="mapper/customerServiceImgMapper.xml" />
   		<mapper resource="mapper/faqMapper.xml" />
   		<mapper resource="mapper/memberMapper.xml" />
   		<mapper resource="mapper/orderMapper.xml" />
		<mapper resource="mapper/productMapper.xml" />
		<mapper resource="mapper/productImageMapper.xml" />
		<mapper resource="mapper/productLikesMapper.xml" />
		<mapper resource="mapper/recentlyViewedMapper.xml" />
		<mapper resource="mapper/reportMapper.xml" />
		<mapper resource="mapper/reportCountMapper.xml" />
		<mapper resource="mapper/reportImgMapper.xml" />
		<mapper resource="mapper/setMapper.xml" />
		<mapper resource="mapper/transactionHistoryMapper.xml" />
		<mapper resource="mapper/withdrawMapper.xml" />
   </mappers>
</configuration>
