<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faq">
	
	<insert id="create" parameterType="FaqVO">
		insert into faq(faq_title,faq_content,faq_category) 
		values (#{faqTitle}, 
				#{faqContent}, 
				#{faqCategory})
	</insert>
	
	<delete id="del"  parameterType="faqVO">
		delete from faq where faq_id = #{faqId}
	</delete>
	
	<update id="up"  parameterType="faqVO">
		update faq set faq_title = #{faqTitle} where faq_id = #{faqId}
	</update>
	
	<select id="one" parameterType="Integer" resultType="faqVO">
		select faq_id, faq_title, faq_view, faq_content, faq_category from faq
		where faq_id =#{faqId}
	</select>
	
	<update id="viewUpdate" parameterType="Integer">
		update faq set faq_view= faq_view + 1
		where faq_id =#{faqId}
	</update>
	
	<select id="faqAll" resultType="faqVO" parameterType="pageVO">
		select * 
		from (
		select ROW_NUMBER() over(order by faq_id desc)as faq_no, f.* 
		from 
		faq f) faq2 
		where faq2.faq_no between #{start} and #{end}
	</select>
	
	<select id="category" parameterType="Map" resultType="faqVO">
		select * from (
		select ROW_NUMBER() over(order by faq_id desc)as faq_no, f.*
		from 
		faq f where f.faq_category=#{category1}) faq2
		where faq2.faq_no between #{start} and #{end}
	</select>
	
	<select id="count" resultType="Integer">
		select count(*) from faq
	</select>
	
	<select id="countCategory" parameterType="String" resultType="Integer">
		select count(*) from faq
		where faq_category=#{category1}
	</select>
	
	<select id="countSearch" parameterType="String" resultType="Integer">
		select count(*) from faq
		where faq_title like concat('%', #{search1}, '%')
	</select>
	
	<select id="list2" resultType="faqVO" parameterType="pageVO">
		select *
		from (
		select ROW_NUMBER() over(order by faq_id desc) as faq_no, f.*
		from faq f) faq2
		where faq2.faq_no between #{start} and #{end} 
	</select>
	
	<select id="searchAll" resultType="faqVO"  parameterType="Map">
		select * from (
		select ROW_NUMBER() over(order by faq_id desc) as faq_no, f.*
		from faq f
		where f.faq_title like concat('%', #{search1}, '%')) faq2
		where faq2.faq_no between #{start} and #{end}
	</select>
</mapper>











