<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<!-- 회원가입 -->
	<insert id="create" parameterType="memberVO" >
		insert into member values ( null, #{id}, #{pw}, #{name}, #{tel}, #{nickname}, #{email},
		default, null, null, '정상', #{birth}, #{gender}, now(), default, null)
	</insert>
	
	<!-- 이메일로 검색 -->
	<select id="emailCheck" parameterType="String" resultType="memberVO">
		select * from member where email = #{email}
	</select>
	
	<!-- 아이디로 검색 -->
	<select id="searchOne" parameterType="String" resultType="memberVO">
		select * from member where id = #{id};
	</select>
	
	<!-- 비번찾기 -->	
	<select id="findPw" resultType="memberVO">
		select * from member where id = #{id} and email = #{email}
	</select>
	
	<!-- 회원 탈퇴 -->
	<update id="leave"  parameterType="memberVO">
		update member set user_level = 2 where id = #{id} and pw = #{pw}
	</update>
	
	<!-- 프로필 업데이트 -->
	<update id="profileImg"  parameterType="memberVO">
		update member set profile_img = #{profileImg} where id = #{id}
	</update>
	
	<!-- 비밀번호 재설정 -->
	<update id="updatePw"  parameterType="memberVO">
		update member set pw = #{pw} where id = #{id}
	</update>
	
	<!-- 구매 확정 업데이트 -->
	<update id="buyerCon"  parameterType="memberVO">
		update tb_order set buyer_confirm = 1, complete_status = 1 where no = #{no}
	</update>
	
	<!-- 회원정보 수정 -->
	<update id="updateuser"  parameterType="memberVO">
		update member set pw = #{pw}, nickname= #{nickname} where id = #{id}
	</update>   
	
	<!-- 로그인 -->
	<select id="login" parameterType="memberVO" resultType="memberVO">
		select * from member where id = #{id} and pw = #{pw}
	</select>
	
	<select id="logincheck" parameterType="String" resultType="memberVO">
		select * from member where id = #{id}
	</select>
	
	<!-- 로그아웃 시간 업데이트 -->
	<update id="logoutTimeUpdate" parameterType="String">
		update member set logout_time = current_timestamp where id = #{id}
	</update>
	
	<!-- 판매목록 -->
	<select id="purchsList" parameterType="String" resultType="orderVO">
		select * from tb_order where buyer_id = #{id}
	</select>
	
	<!-- 구매목록 -->
	<select id="sellList" parameterType="String" resultType="orderVO">
		select * from tb_order where seller_id = #{id}
	</select>
	
	<!-- 찜 목록 -->
	<select id="basketList" parameterType="String" resultType="productlikesVO">
		select * from product_likes where member_id = #{id}
	</select>
	
	<!-- 운송장번호 업데이트 -->
	<update id="trackingNo"  parameterType="orderVO" >
		update tb_order set tracking_no = #{trackingNo}, delivery_com = #{deliveryCom}
		where no = #{no}
	</update>
	
	<!-- 운송장번호 조회 -->
	<select id="trackingNoSearch" parameterType="String" resultType="orderVO">
		select tracking_no 
		from tb_order 
		where transaction_id = #{transactionId}
	</select>
</mapper>











