<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
  
<insert id="register" parameterType="productVO">
	INSERT INTO product
	(member_id, category, product_name, product_content, price, deal_delivery, deal_direct, `direct_addressx`, `direct_addressy`, product_views, `temporary`, saved_time)
	VALUES(#{memberId}, #{category}, #{productName}, #{productContent}, #{price}, #{dealDelivery}, #{dealDirect}, #{directAddressx}, #{directAddressy}, 0, #{temporary}, #{savedTime});
</insert>
  
<select id="productDetail" resultType="ProductVO" parameterType="Integer">
  select * from product where product_id = #{productId}
</select>
  
<select id="all" resultType="ProductVO">
  select * from product	
</select>
  
</mapper>