<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productImg">

	<!-- insert, delete, update는 무조건 resultType="int"이므로 프로그래머가 써주지 않아도 이미 resultType="int"가 
		있는 것으로 본다.! -->

	<select id="list" resultType="productImageVO" parameterType="int">
		select *
		from product_image
		where product_id = #{productId}
		limit 1
	</select>
	
		<select id="productImage" resultType="ProductImageVO" parameterType="Integer">
		select * from product_image where product_id = #{productId}
	</select>
	
	<select id="productImageThumbnail" resultType="ProductImageVO" parameterType="Integer">
		select * from product_image where product_id = #{productId} AND product_image_order = 1
	</select>

	<delete id="productImageDelete"  parameterType="productVO">
		delete from product_image where product_id = #{productId}
	</delete>
	
	<insert id="productImageUpload" parameterType="ProductImageVO">
		INSERT INTO product_image
		(product_id, product_image_name, product_image_order)
		VALUES(#{productId}, #{productImageName}, #{productImageOrder});
	</insert>
	
	
</mapper>











