<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="history">

    <!-- ALL -->
    <select id="all" resultType="historyVO">
        SELECT *
        FROM transaction_history
    </select>

    <!-- ONE -->
    <select id="one" parameterType="String" resultType="historyVO">
        select *
        from transaction_history
        where member_id = #{id}
    </select>

    <!-- 잔액 조회 -->
    <select id="getBalance" parameterType="String" resultType="_int">
        SELECT COALESCE(balance, 0)
        FROM transaction_history
        WHERE member_id = #{id}
        ORDER BY transaction_time DESC LIMIT 1;
    </select>

    <!-- Transaction History에 Insert -->
    <insert id="insert" parameterType="historyVO">
        INSERT INTO transaction_history
            (transaction_id, member_id, transaction_time, amount, balance)
        VALUES (#{transactionId}, #{memberId}, #{transactionTime}, #{amount}, #{balance});
    </insert>

    <insert id="insertTest" parameterType="historyVO">
        INSERT INTO gazee.transaction_history
            (`no`, transaction_id, member_id, transaction_time, amount, balance)
        VALUES (1, 'c0000000001ye2305221228', 'testuser', '2023-05-11 11:00:00', 50000, 50000);
    </insert>
</mapper>