<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="withdraw">
<insert id="insert" parameterType="withdrawVO">
	INSERT INTO withdraw
	(transaction_id, member_id, transaction_time, bank, account, requested_amount, commission, total_amount)
	VALUES(#{transactionId}, #{memberId}, #{transactionTime}, #{bank}, #{account}, #{requestedAmount}, #{commission}, #{totalAmount});
</insert>

</mapper>