@charset "UTF-8";

/* 새로운 메세지 push 알람 */
#newMessagePushAlarm {
  visibility: hidden;
  min-width: 250px;
  background-color: #693FAA;
  color: #fff;
  border-radius: 20px;
  text-align: left;
  padding: 16px 24px;
  position: fixed;
  z-index:5;
  right: 20px;
  bottom: 100px;
  font-size: 17px;
  cursor: pointer;
}

#newMessagePushAlarm.show {
  visibility: visible;
  -webkit-animation: fadein 1s, fadeout 1s 2s;
  animation: fadein 1s, fadeout 1s 2s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 100px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 100px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 100px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#newMessageBadge {
	width: 8px;
    height: 8px;
    border-radius: 50px;
    background: #ce0000;
    left: 5px;
    top: 160px;
    position: absolute;
    visibility: hidden;
}