/* content */
.item {
	width: 200px;
	float: left;
	margin-bottom: 10px;
}

.itemImage {
	border-radius: 5%;
	width: 195px;
	height: 195px;
}

.itemContent {
	display: flex;
	justify-content: flex-start;
	font-weight: bold;
}

#banner {
	width: 100%;
	height: 300px;
	border-radius: 30px;
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 50px;
}

#sell {
	height: 40px;
	width: 80px;
	background: white;
	color: #693FAA;
	border-radius: 30px;
}

.title {
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 8px;
}

.recommend {
	height: 350px;
}

.categoryMenu {
	cursor: pointer;
}

#recentView {
	width: 90px;
	position: fixed;
	top: 330px;
	right: calc(50% - 630px);
	transition: all 0.35s;
}

.recentViewItem {
	padding: 10px;
	border: 1px solid rgb(204, 204, 204);
	background: rgb(255, 255, 255);
	margin-bottom: 6px;
}

.recentViewTxt {
	font-size: 12px;
	font-weight: 600;
	color: rgb(102, 102, 102);
	text-align: center;
	margin-bottom: 8px;
}

.recentViewCount {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.viewCount {
	display: flex;
	justify-content: center;
	font-size: 12px;
	color: rgb(247, 0, 0);
	font-weight: 600;
	width: 38px;
	border-bottom: 2px dotted rgb(136, 136, 136);
	padding-bottom: 10px;
}

/* searchList.jsp, categoryList.jsp */
#categoryWrap {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: height 0.3s ease-in-out 0s;
	margin-bottom: 50px;
}

.category {
	width: 207px;
	height: 48px;
	background: rgb(255, 255, 255);
	margin: 0px 1px 1px 0px;
	border: 1px solid rgb(238, 238, 238);
	display: flex;
	align-items: center;
	padding: 0 20px
}

#categoryTitle {
	margin-top: 0;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
}

#searchHelper {
	display: flex;
	justify-content: space-between;
}

#searchOrder {
	display: flex;
	list-style-type: none;
	margin: 0;
	font-size: 14px;
}

.pages {
	width: 34px;
	height: 34px;
	background-color: white;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(155, 153, 169);
	cursor: pointer;
}
