@charset "UTF-8";

#redirect_chat, #redirect_myPage {
	width: 150px;
	height: 50px;
	cursor: pointer;
	border-radius: 10px;
	border-style: none;
	color: #fff;
}

#redirect_chat {
	background: #2b2b2b;
}

#redirect_myPage {
	background: #693faa;
}

#order_productInfo {
	display: flex;
	gap: 50px;
	padding: 0 30px;
}

#order_productThumbnail {
	width: 120px;
	height: 120px;
	background: #000;
	border-radius: 10px;
	background-repeat: no-repeat;
}

.order_productText {
	text-align: left;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

#order_category {
	font-size: 14px;
}

#order_productName {
	font-size: 18px;
	margin-top: 10px;
}

#order_productPrice {
	font-size: 24px;
	font-weight: bold;
}

#order_paymentHistory {
	display: flex;
	padding: 0 30px;
	margin: 40px 0;
	text-align: left;
	flex-flow: column;
	justify-content: center;
	width: 100%;
}

#paymentHistory_table {
	width: 100%;
	border-top: 1px solid #898989;
	border-collapse: collapse;
}

th {
	background: #f8f9fa;
	font-weight: 400;
	color: #62676c;
}

th, td {
	padding: 10px 10px 10px 20px;
	border-bottom: 1px solid #ecedf2;
}