@charset "UTF-8";

#updateUserBox {
	width: 600px;
	margin: 0 auto 50px auto;
	display: flex;
	flex-flow: column;
	gap: 16px;
}
.form-control {
	width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.head{
	padding-bottom: 10px;
    border-bottom: 2px solid rgb(51, 51, 51);
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 17px;
    text-align: right;
}

.input_signUp, .mail-check-box,.PwCheck {
	display: flex;
	align-items: center;
}

.nametag {
	width: 150px;
	text-align: left;
}

.email-form {
	display: flex;
	flex-flow: column;
}

#mail_Check_Btn {
	width: 200px;
	height: 46px;
	background: #693FAA;
	color: #fff;
	border-style: none;
	border-radius: 4px;
	cursor: pointer;
}
#Nick-Check-Btn {
	width: 200px;
	height: 46px;
	background: #693FAA;
	color: #fff;
	border-style: none;
	border-radius: 4px;
	cursor: pointer;
	
}
.nickBox {
	width: 100%;
	display: flex;
	gap: 5px;
}

#IdReset {
	width: 350px;
	height: 46px;
	background: #693FAA;
	color: #fff;
	border-style: none;
	border-radius: 4px;
	margin: 20px auto;
	cursor: pointer;
}

.star {
	color: red;
}

#mail-check-warn {
	margin-top: 1px;
}